.product-minimal {
  margin-bottom: 30px;
  @include md-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
  }
  .product-showcase {
    margin-bottom: 10px;
    @include md-block {
      min-width: calc(33.33% - 14px);
    width: calc(33.33% - 14px);
    flex-grow: 1;
    }
  }
  .showcase-wrapper {
    display: flex;
    align-items: center;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
    @include md-block {
      gap: 10px;
    }
  }
  .showcase-container {
    min-width: 100%;
    padding: 0 5px;
    scroll-snap-align: start;
    @include sm-block {
      min-width: 50%;
    }
    @include md-block {
      min-width: 100%;
    }
  }
  .showcase {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    border: 1px solid $cultured;
    padding: 15px;
    border-radius: $border-radius-md;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  .showcase-content {
    width: calc(100% -85px);
  }
  .showcase-title {
    color: $eerie-black;
    font-size: $fs-7;
    font-weight: 600;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 2px;
  }
  .showcase-category {
    width: max-content;
    color: $davys-gray;
    font-size: $fs-8;
    text-transform: capitalize;
    margin-bottom: 3px;
    &:hover {
      color: $salomon-pink;

    }
  }
  .price-box {
    display: flex;
    align-items: center;
    gap: 10px;
    del {
      font-size: $fs-9;
      color: $sonic-silver;
      
    }
  }
  .price {
    font-size: $fs-7;
    font-weight: 700;
    color: $salomon-pink;

  }
}