mixin footer()
  footer
    .footer-category
      .container 
        h2.footer-category-title Каталог брэндов
        .footer-category-box
          h3.category-box-title Женщинам:
          a.footer-category-link(href="#") Блузки и рубашки
          a.footer-category-link(href="#") Джинсы
          a.footer-category-link(href="#") Верхняя одежда
          a.footer-category-link(href="#") Костюмы
          a.footer-category-link(href="#") Футболки и топы
          a.footer-category-link(href="#") Шорты
          a.footer-category-link(href="#") Юбки
        .footer-category-box
          h3.category-box-title Мужчинам:
          a.footer-category-link(href="#") Брюки
          a.footer-category-link(href="#") Джинсы
          a.footer-category-link(href="#") Верхняя одежда
          a.footer-category-link(href="#") Костюмы
          a.footer-category-link(href="#") Футболки
          a.footer-category-link(href="#") Шорты
          a.footer-category-link(href="#") Рубашки
        .footer-category-box
          h3.category-box-title Обувь:
          a.footer-category-link(href="#") Детская
          a.footer-category-link(href="#") Для новорожденных
          a.footer-category-link(href="#") Женская
          a.footer-category-link(href="#") Мужская
          a.footer-category-link(href="#") Аксессуары для обуви
        .footer-category-box
          h3.category-box-title Дом:
          a.footer-category-link(href="#") Ванная
          a.footer-category-link(href="#") Кухня
          a.footer-category-link(href="#") Хозяйственные товары
          a.footer-category-link(href="#") Спальня
          a.footer-category-link(href="#") Детская
          a.footer-category-link(href="#") Отдых на природе
          a.footer-category-link(href="#") Парфюмерия для дома
        .footer-category-box
          h3.category-box-title Ювелирные изделия:
          a.footer-category-link(href="#") Кольца
          a.footer-category-link(href="#") Серьги
          a.footer-category-link(href="#") Браслеты
          a.footer-category-link(href="#") Часы
          a.footer-category-link(href="#") Подвески
          a.footer-category-link(href="#") Пирсинг
          a.footer-category-link(href="#") Ремни
    .footer-nav 
      .container 
        ul.footer-nav-list 
          li.footer-nav-item 
            h2.nav-title Популярные товары
          li.footer-nav-item 
            a.footer-nav-link(href="#") Одежда
          li.footer-nav-item 
            a.footer-nav-link(href="#") Электроника
          li.footer-nav-item 
            a.footer-nav-link(href="#") Косметика
          li.footer-nav-item 
            a.footer-nav-link(href="#") Часы
          li.footer-nav-item 
            a.footer-nav-link(href="#") Одежда
        ul.footer-nav-list 
          li.footer-nav-item 
            h2.nav-title Продукты
          li.footer-nav-item 
            a.footer-nav-link(href="#") Новинки
          li.footer-nav-item 
            a.footer-nav-link(href="#") Топ товары
          li.footer-nav-item 
            a.footer-nav-link(href="#") Контакты
        ul.footer-nav-list 
          li.footer-nav-item 
            h2.nav-title Наша компания
          li.footer-nav-item 
            a.footer-nav-link(href="#") Доставка
          li.footer-nav-item 
            a.footer-nav-link(href="#") Политика конфидинцеальности
          li.footer-nav-item 
            a.footer-nav-link(href="#") О нас 
        ul.footer-nav-list 
          li.footer-nav-item 
            h2.nav-title Контакты
          li.footer-nav-item.flex 
            .icon-box 
              ion-icon(name="location-outline")
            address.content Новосибирск, ул.Сибирская, 42
          li.footer-nav-item.flex 
            .icon-box 
              ion-icon(name="call-outline")
            a.footer-nav-link(href="tel:+79963811235") 8 (996) 3811235
          li.footer-nav-item.flex 
            .icon-box 
              ion-icon(name="mail-outline")
            a.footer-nav-link(href="mailto:ev.larkov@yandex.ru") ev.larkov@yandex.ru
        ul.footer-nav-list 
          li.footer-nav-item 
            h2.nav-title Социальные сети
          li 
            ul.social-link 
              li.footer-nav-item 
                a.footer-nav-link(href="#") 
                  ion-icon(name="logo-twitter")
                a.footer-nav-link(href="#") 
                  ion-icon(name="logo-vk")


