extends ../layout/main

block mainVariables
  - pageTitle = 'B-Shop - обувь, одежда, аксессуары';

//- MAIN
block mainContent
  main.main
    //- BANNER
    .banner 
      .container 
        .slider-container.has-scollbar 
          .slider-item 
            img.banner-img(src="img/banner-1.jpg", alt="")
            .banner-content 
              p.banner-subtitle Тренды
              h2.banner-title Распродажа женксой коллекции
              p.banner-text 200 рублей
              a.banner-btn(href="") Купить
          .slider-item 
            img.banner-img(src="img/banner-2.jpg", alt="")
            .banner-content 
              p.banner-subtitle Аксессуары
              h2.banner-title Очки
              p.banner-text 200 рублей
              a.banner-btn(href="") Купить
          .slider-item 
            img.banner-img(src="img/banner-3.jpg", alt="")
            .banner-content 
              p.banner-subtitle Ремни
              h2.banner-title Распродажа женкских ремней
              p.banner-text 200 рублей
              a.banner-btn(href="#") Купить
    //-CATEGORY
    .category 
      .container 
        .category-item-container.has-scrollbar 
          .category-item 
            .category-img-box
              img(src="img/icons/dress.svg", alt="" width="30")
            .category-content-box 
              .category-content-flex 
                h3.category-item-title Платья
                .category-item-amount (43)
              a.category-btn(href="#") Показать все
          .category-item 
            .category-img-box
              img(src="img/icons/jacket.svg", alt="" width="30")
            .category-content-box 
              .category-content-flex 
                h3.category-item-title Куртки
                .category-item-amount (56)
              a.category-btn(href="#") Показать все
          .category-item 
            .category-img-box
              img(src="img/icons/glasses.svg", alt="" width="30")
            .category-content-box 
              .category-content-flex 
                h3.category-item-title Аксессуары
                .category-item-amount (33)
              a.category-btn(href="#") Показать все
          .category-item 
            .category-img-box
              img(src="img/icons/shorts.svg", alt="" width="30")
            .category-content-box 
              .category-content-flex 
                h3.category-item-title Шорты
                .category-item-amount (25)
              a.category-btn(href="#") Показать все
          .category-item 
            .category-img-box
              img(src="img/icons/bag.svg", alt="" width="30")
            .category-content-box 
              .category-content-flex 
                h3.category-item-title Сумки
                .category-item-amount (123)
              a.category-btn(href="#") Показать все
          .category-item 
            .category-img-box
              img(src="img/icons/watch.svg", alt="" width="30")
            .category-content-box 
              .category-content-flex 
                h3.category-item-title Часы
                .category-item-amount (84)
              a.category-btn(href="#") Показать все
          .category-item 
            .category-img-box
              img(src="img/icons/hat.svg", alt="" width="30")
            .category-content-box 
              .category-content-flex 
                h3.category-item-title Шапки
                .category-item-amount (73)
              a.category-btn(href="#") Показать все
    //-PRODUCT
    .product-container 
      .container  
        //-SIDEBAR
        .sidebar.has-scrollbar(data-mobile-menu)
          .sidebar-category 
            .sidebar-top 
              h2.sidebar-title Категории
              button.sidebar-close-btn(data-mobile-menu-close-btn)
              ion-icon(name="close-outline")
            ul.sidebar-menu-category-list 
              li.sidebar-menu-category
                button.sidebar-accordion-menu(data-accordion-btn)
                  .menu-title-flex 
                    img.menu-title-img(src="img/icons/dress.svg", alt="" width="20" height="20")
                    p.menu-title Одежда
                  div 
                    ion-icon(name="add-outline" class="add-icon") 
                    ion-icon(name="remove-outline" class="remove-icon") 
                ul.sidebar-submenu-category-list(data-accordion) 
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Футболки
                      data(value="300" class="stock" title="Доступно") 105
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Шорты
                      data(value="300" class="stock" title="Доступно") 98
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Кофты
                      data(value="300" class="stock" title="Доступно") 67
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Платья
                      data(value="300" class="stock" title="Доступно") 127
              li.sidebar-menu-category
                button.sidebar-accordion-menu(data-accordion-btn)
                  .menu-title-flex 
                    img.menu-title-img(src="img/icons/shoes.svg", alt="" width="20" height="20")
                    p.menu-title Обувь
                  div 
                    ion-icon(name="add-outline" class="add-icon") 
                    ion-icon(name="remove-outline" class="remove-icon") 
                ul.sidebar-submenu-category-list(data-accordion) 
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Детская
                      data(value="300" class="stock" title="Доступно") 30
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Для новорожденных
                      data(value="300" class="stock" title="Доступно") 121
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Женкская
                      data(value="300" class="stock" title="Доступно") 173
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Мужская
                      data(value="300" class="stock" title="Доступно") 134
              li.sidebar-menu-category
                button.sidebar-accordion-menu(data-accordion-btn)
                  .menu-title-flex 
                    img.menu-title-img(src="img/icons/jewelry.svg", alt="" width="20" height="20")
                    p.menu-title Ювелирные изделия
                  div 
                    ion-icon(name="add-outline" class="add-icon") 
                    ion-icon(name="remove-outline" class="remove-icon") 
                ul.sidebar-submenu-category-list(data-accordion) 
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Кольца
                      data(value="300" class="stock" title="Доступно") 241
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Серьги
                      data(value="300" class="stock" title="Доступно") 183
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Браслеты
                      data(value="300" class="stock" title="Доступно") 104
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Комплекты
                      data(value="300" class="stock" title="Доступно") 110
              li.sidebar-menu-category
                button.sidebar-accordion-menu(data-accordion-btn)
                  .menu-title-flex 
                    img.menu-title-img(src="img/icons/perfume.svg", alt="" width="20" height="20")
                    p.menu-title Красота
                  div 
                    ion-icon(name="add-outline" class="add-icon") 
                    ion-icon(name="remove-outline" class="remove-icon") 
                ul.sidebar-submenu-category-list(data-accordion) 
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Макияж
                      data(value="300" class="stock" title="Доступно") 124
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Парфюмерия
                      data(value="300" class="stock" title="Доступно") 323
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Мужская линия
                      data(value="300" class="stock" title="Доступно") 173
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Ногти
                      data(value="300" class="stock" title="Доступно") 140
              li.sidebar-menu-category
                button.sidebar-accordion-menu(data-accordion-btn)
                  .menu-title-flex 
                    img.menu-title-img(src="img/icons/cosmetics.svg", alt="" width="20" height="20")
                    p.menu-title Косметика
                  div 
                    ion-icon(name="add-outline" class="add-icon") 
                    ion-icon(name="remove-outline" class="remove-icon") 
                ul.sidebar-submenu-category-list(data-accordion) 
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Аптечная косметика
                      data(value="300" class="stock" title="Доступно") 127
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Детская косметика
                      data(value="300" class="stock" title="Доступно") 52
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Корейские бренды
                      data(value="300" class="stock" title="Доступно") 25
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Органическая косметика
                      data(value="300" class="stock" title="Доступно") 15
              li.sidebar-menu-category
                button.sidebar-accordion-menu(data-accordion-btn)
                  .menu-title-flex 
                    img.menu-title-img(src="img/icons/glasses.svg", alt="" width="20" height="20")
                    p.menu-title Аксессуары
                  div 
                    ion-icon(name="add-outline" class="add-icon") 
                    ion-icon(name="remove-outline" class="remove-icon") 
                ul.sidebar-submenu-category-list(data-accordion) 
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Очки
                      data(value="300" class="stock" title="Доступно") 143
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Ремни
                      data(value="300" class="stock" title="Доступно") 48
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Часы и ремешки
                      data(value="300" class="stock" title="Доступно") 62
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Платки и шарфы
                      data(value="300" class="stock" title="Доступно") 87 
              li.sidebar-menu-category
                button.sidebar-accordion-menu(data-accordion-btn)
                  .menu-title-flex 
                    img.menu-title-img(src="img/icons/bag.svg", alt="" width="20" height="20")
                    p.menu-title Сумки
                  div 
                    ion-icon(name="add-outline" class="add-icon") 
                    ion-icon(name="remove-outline" class="remove-icon") 
                ul.sidebar-submenu-category-list(data-accordion)
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Рюкзаки
                      data(value="300" class="stock" title="Доступно") 287
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Чемоданы
                      data(value="300" class="stock" title="Доступно") 42
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Женские сумки
                      data(value="300" class="stock" title="Доступно") 300
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Детские сумки
                      data(value="300" class="stock" title="Доступно") 300
          .product-showcase 
            h3.showcase-heading Лучшие продажы
            .showcase-wrapper 
              .showcase-container 
                .showcase 
                  a.showcase-img-box(href="#") 
                    img.shocase-img(src="img/products/1.jpg", alt="" width="75" height="75")
                  .showcase-content 
                    a(href="#")
                      h4.showcase-title Детская одежда
                      .showcase-rating
                        ion-icon(name="star") 
                        ion-icon(name="star") 
                        ion-icon(name="star") 
                        ion-icon(name="star") 
                        ion-icon(name="star")
                      .price-box  
                        del 1000 руб.
                        p.price 800 руб.
                .showcase 
                  a.showcase-img-box(href="#") 
                    img.shocase-img(src="img/products/2.jpg", alt="" width="75" height="75")
                  .showcase-content 
                    a(href="#")
                      h4.showcase-title Детская одежда
                      .showcase-rating
                        ion-icon(name="star") 
                        ion-icon(name="star") 
                        ion-icon(name="star") 
                        ion-icon(name="star") 
                        ion-icon(name="star")
                      .price-box  
                        del 1000 руб.
                        p.price 800 руб.
                .showcase 
                  a.showcase-img-box(href="#") 
                    img.shocase-img(src="img/products/3.jpg", alt="" width="75" height="75")
                  .showcase-content 
                    a(href="#")
                      h4.showcase-title Детская одежда
                      .showcase-rating
                        ion-icon(name="star") 
                        ion-icon(name="star") 
                        ion-icon(name="star") 
                        ion-icon(name="star") 
                        ion-icon(name="star")
                      .price-box  
                        del 1000 руб.
                        p.price 800 руб.
                .showcase 
                  a.showcase-img-box(href="#") 
                    img.shocase-img(src="img/products/4.jpg", alt="" width="75" height="75")
                  .showcase-content 
                    a(href="#")
                      h4.showcase-title Детская одежда
                      .showcase-rating
                        ion-icon(name="star") 
                        ion-icon(name="star") 
                        ion-icon(name="star") 
                        ion-icon(name="star") 
                        ion-icon(name="star")
                      .price-box  
                        del 1000 руб.
                        p.price 800 руб.
        //-PRODUCT minimal
        .product-box
          .product-minimal
            .product-showcase 
              h2.title Новинки
              .showcase-wrapper.has-scrollbar
                .showcase-container 
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/clothes-1.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб. 
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/clothes-2.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб.
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/clothes-3.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб.
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/shirt-1.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб.
                .showcase-container 
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/clothes-1.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб. 
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/clothes-2.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб.
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/clothes-3.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб.
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/shirt-1.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб.
            .product-showcase 
              h2.title Новинки
              .showcase-wrapper.has-scrollbar
                .showcase-container 
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/clothes-1.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб. 
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/clothes-2.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб.
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/clothes-3.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб.
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/shirt-1.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб.
                .showcase-container 
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/clothes-1.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб. 
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/clothes-2.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб.
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/clothes-3.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб.
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/shirt-1.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб.
            .product-showcase 
              h2.title Новинки
              .showcase-wrapper.has-scrollbar
                .showcase-container 
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/clothes-1.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб. 
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/clothes-2.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб.
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/clothes-3.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб.
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/shirt-1.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб.
                .showcase-container 
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/clothes-1.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб. 
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/clothes-2.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб.
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/clothes-3.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб.
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/shirt-1.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб.
          .product-featured 
            h2.title Товар дня
            .showcase-wrapper.has-scrollbar 
              .showcase-container
                .showcase 
                  .showcase-banner 
                    img.showcase-img(src="img/products/shampoo.jpg", alt="")
                    .showcase-content 
                      .showcase-rating 
                        ion-icon(name="star")
                        ion-icon(name="star")
                        ion-icon(name="star")
                        ion-icon(name="star-outline")
                        ion-icon(name="star-outline")
                      a(href="")
                        h3.showcase-title Шампунь Clear
                      p.showcase-desc Шампунь от перхоти
                      .price-box
                        p.price 200 руб 
                        del 350 руб

                      button.add-cart-btn Купить
                      .showcase-status
                        .wrapper 
                          p купили: <b>20</b>
                          p в наличии: <b>30</b>
                        .showcase-status-bar 
                      .countdown-box
                        p.countdown-desc Скидка закончится:
                        .countdown 
                          .countdown-content 
                            p.display-number 360
                            p.display-text Дней 
                          .countdown-content 
                            p.display-number 24
                            p.display-text часа
                          .countdown-content 
                            p.display-number 30
                            p.display-text мин
                          .countdown-content 
                            p.display-number 00
                            p.display-text секунд
              .showcase-container
                .showcase 
                  .showcase-banner 
                    img.showcase-img(src="img/products/shampoo.jpg", alt="")
                    .showcase-content 
                      .showcase-rating 
                        ion-icon(name="star")
                        ion-icon(name="star")
                        ion-icon(name="star")
                        ion-icon(name="star-outline")
                        ion-icon(name="star-outline")
                      a(href="")
                        h3.showcase-title Шампунь Clear
                      p.showcase-desc Шампунь от перхоти
                      .price-box
                        p.price 200 руб 
                        del 350 руб

                      button.add-cart-btn Купить
                      .showcase-status
                        .wrapper 
                          p купили: <b>20</b>
                          p в наличии: <b>30</b>
                        .showcase-status-bar 
                      .countdown-box
                        p.countdown-desc Скидка закончится:
                        .countdown 
                          .countdown-content 
                            p.display-number 360
                            p.display-text Дней 
                          .countdown-content 
                            p.display-number 24
                            p.display-text часа
                          .countdown-content 
                            p.display-number 30
                            p.display-text мин
                          .countdown-content 
                            p.display-number 00
                            p.display-text секунд
          .product-main 
            h2.title Новые поступления
            .product-grid
              .showcase 
                .showcase-banner 
                  img.product-img.default(src="img/products/jacket-3.jpg", alt="" width="300")
                  img.product-img.hover(src="img/products/jacket-3.jpg", alt="" width="300")
                  p.showcase-bage 15%
                  .showcase-actions 
                    button.btn-action 
                      ion-icon(name="heart-outline")
                    button.btn-action 
                      ion-icon(name="eye-outline")
                    button.btn-action 
                      ion-icon(name="repeat-outline")
                    button.btn-action 
                      ion-icon(name="bag-add-outline")
                .showcase-content 
                  a.showcase-category(href="#") Куртки
                  a(href="#")
                    h3.showcase-title Зимняя куртка для мужчин
                  .showcase-rating 
                    ion-icon(name="star") 
                    ion-icon(name="star") 
                    ion-icon(name="star") 
                    ion-icon(name="star-outline") 
                    ion-icon(name="star-outline")
                  .price-box 
                    p.price 1000 руб
                    del 800 руб
              .showcase 
                .showcase-banner 
                  img.product-img.default(src="img/products/shirt-1.jpg", alt="" width="300")
                  img.product-img.hover(src="img/products/shirt-1.jpg", alt="" width="300")
                  p.showcase-bage 15%
                  .showcase-actions 
                    button.btn-action 
                      ion-icon(name="heart-outline")
                    button.btn-action 
                      ion-icon(name="eye-outline")
                    button.btn-action 
                      ion-icon(name="repeat-outline")
                    button.btn-action 
                      ion-icon(name="bag-add-outline")
                .showcase-content 
                  a.showcase-category(href="#") Куртки
                  a(href="#")
                    h3.showcase-title Зимняя куртка для мужчин
                  .showcase-rating 
                    ion-icon(name="star") 
                    ion-icon(name="star") 
                    ion-icon(name="star") 
                    ion-icon(name="star-outline") 
                    ion-icon(name="star-outline")
                  .price-box 
                    p.price 1000 руб
                    del 800 руб
              .showcase 
                .showcase-banner 
                  img.product-img.default(src="img/products/jacket-3.jpg", alt="" width="300")
                  img.product-img.hover(src="img/products/jacket-3.jpg", alt="" width="300")
                  p.showcase-bage 15%
                  .showcase-actions 
                    button.btn-action 
                      ion-icon(name="heart-outline")
                    button.btn-action 
                      ion-icon(name="eye-outline")
                    button.btn-action 
                      ion-icon(name="repeat-outline")
                    button.btn-action 
                      ion-icon(name="bag-add-outline")
                .showcase-content 
                  a.showcase-category(href="#") Куртки
                  a(href="#")
                    h3.showcase-title Зимняя куртка для мужчин
                  .showcase-rating 
                    ion-icon(name="star") 
                    ion-icon(name="star") 
                    ion-icon(name="star") 
                    ion-icon(name="star-outline") 
                    ion-icon(name="star-outline")
                  .price-box 
                    p.price 1000 руб
                    del 800 руб
              .showcase 
                .showcase-banner 
                  img.product-img.default(src="img/products/jacket-3.jpg", alt="" width="300")
                  img.product-img.hover(src="img/products/jacket-3.jpg", alt="" width="300")
                  p.showcase-bage 15%
                  .showcase-actions 
                    button.btn-action 
                      ion-icon(name="heart-outline")
                    button.btn-action 
                      ion-icon(name="eye-outline")
                    button.btn-action 
                      ion-icon(name="repeat-outline")
                    button.btn-action 
                      ion-icon(name="bag-add-outline")
                .showcase-content 
                  a.showcase-category(href="#") Куртки
                  a(href="#")
                    h3.showcase-title Зимняя куртка для мужчин
                  .showcase-rating 
                    ion-icon(name="star") 
                    ion-icon(name="star") 
                    ion-icon(name="star") 
                    ion-icon(name="star-outline") 
                    ion-icon(name="star-outline")
                  .price-box 
                    p.price 1000 руб
                    del 800 руб
              .showcase 
                .showcase-banner 
                  img.product-img.default(src="img/products/jacket-3.jpg", alt="" width="300")
                  img.product-img.hover(src="img/products/jacket-3.jpg", alt="" width="300")
                  p.showcase-bage 15%
                  .showcase-actions 
                    button.btn-action 
                      ion-icon(name="heart-outline")
                    button.btn-action 
                      ion-icon(name="eye-outline")
                    button.btn-action 
                      ion-icon(name="repeat-outline")
                    button.btn-action 
                      ion-icon(name="bag-add-outline")
                .showcase-content 
                  a.showcase-category(href="#") Куртки
                  a(href="#")
                    h3.showcase-title Зимняя куртка для мужчин
                  .showcase-rating 
                    ion-icon(name="star") 
                    ion-icon(name="star") 
                    ion-icon(name="star") 
                    ion-icon(name="star-outline") 
                    ion-icon(name="star-outline")
                  .price-box 
                    p.price 1000 руб
                    del 800 руб
              .showcase 
                .showcase-banner 
                  img.product-img.default(src="img/products/jacket-3.jpg", alt="" width="300")
                  img.product-img.hover(src="img/products/jacket-3.jpg", alt="" width="300")
                  p.showcase-bage 15%
                  .showcase-actions 
                    button.btn-action 
                      ion-icon(name="heart-outline")
                    button.btn-action 
                      ion-icon(name="eye-outline")
                    button.btn-action 
                      ion-icon(name="repeat-outline")
                    button.btn-action 
                      ion-icon(name="bag-add-outline")
                .showcase-content 
                  a.showcase-category(href="#") Куртки
                  a(href="#")
                    h3.showcase-title Зимняя куртка для мужчин
                  .showcase-rating 
                    ion-icon(name="star") 
                    ion-icon(name="star") 
                    ion-icon(name="star") 
                    ion-icon(name="star-outline") 
                    ion-icon(name="star-outline")
                  .price-box 
                    p.price 1000 руб
                    del 800 руб
              .showcase 
                .showcase-banner 
                  img.product-img.default(src="img/products/jacket-3.jpg", alt="" width="300")
                  img.product-img.hover(src="img/products/jacket-3.jpg", alt="" width="300")
                  p.showcase-bage 15%
                  .showcase-actions 
                    button.btn-action 
                      ion-icon(name="heart-outline")
                    button.btn-action 
                      ion-icon(name="eye-outline")
                    button.btn-action 
                      ion-icon(name="repeat-outline")
                    button.btn-action 
                      ion-icon(name="bag-add-outline")
                .showcase-content 
                  a.showcase-category(href="#") Куртки
                  a(href="#")
                    h3.showcase-title Зимняя куртка для мужчин
                  .showcase-rating 
                    ion-icon(name="star") 
                    ion-icon(name="star") 
                    ion-icon(name="star") 
                    ion-icon(name="star-outline") 
                    ion-icon(name="star-outline")
                  .price-box 
                    p.price 1000 руб
                    del 800 руб
              .showcase 
                .showcase-banner 
                  img.product-img.default(src="img/products/jacket-3.jpg", alt="" width="300")
                  img.product-img.hover(src="img/products/jacket-3.jpg", alt="" width="300")
                  p.showcase-bage 15%
                  .showcase-actions 
                    button.btn-action 
                      ion-icon(name="heart-outline")
                    button.btn-action 
                      ion-icon(name="eye-outline")
                    button.btn-action 
                      ion-icon(name="repeat-outline")
                    button.btn-action 
                      ion-icon(name="bag-add-outline")
                .showcase-content 
                  a.showcase-category(href="#") Куртки
                  a(href="#")
                    h3.showcase-title Зимняя куртка для мужчин
                  .showcase-rating 
                    ion-icon(name="star") 
                    ion-icon(name="star") 
                    ion-icon(name="star") 
                    ion-icon(name="star-outline") 
                    ion-icon(name="star-outline")
                  .price-box 
                    p.price 1000 руб
                    del 800 руб
              .showcase 
                .showcase-banner 
                  img.product-img.default(src="img/products/jacket-3.jpg", alt="" width="300")
                  img.product-img.hover(src="img/products/jacket-3.jpg", alt="" width="300")
                  p.showcase-bage 15%
                  .showcase-actions 
                    button.btn-action 
                      ion-icon(name="heart-outline")
                    button.btn-action 
                      ion-icon(name="eye-outline")
                    button.btn-action 
                      ion-icon(name="repeat-outline")
                    button.btn-action 
                      ion-icon(name="bag-add-outline")
                .showcase-content 
                  a.showcase-category(href="#") Куртки
                  a(href="#")
                    h3.showcase-title Зимняя куртка для мужчин
                  .showcase-rating 
                    ion-icon(name="star") 
                    ion-icon(name="star") 
                    ion-icon(name="star") 
                    ion-icon(name="star-outline") 
                    ion-icon(name="star-outline")
                  .price-box 
                    p.price 1000 руб
                    del 800 руб
              .showcase 
                .showcase-banner 
                  img.product-img.default(src="img/products/jacket-3.jpg", alt="" width="300")
                  img.product-img.hover(src="img/products/jacket-3.jpg", alt="" width="300")
                  p.showcase-bage 15%
                  .showcase-actions 
                    button.btn-action 
                      ion-icon(name="heart-outline")
                    button.btn-action 
                      ion-icon(name="eye-outline")
                    button.btn-action 
                      ion-icon(name="repeat-outline")
                    button.btn-action 
                      ion-icon(name="bag-add-outline")
                .showcase-content 
                  a.showcase-category(href="#") Куртки
                  a(href="#")
                    h3.showcase-title Зимняя куртка для мужчин
                  .showcase-rating 
                    ion-icon(name="star") 
                    ion-icon(name="star") 
                    ion-icon(name="star") 
                    ion-icon(name="star-outline") 
                    ion-icon(name="star-outline")
                  .price-box 
                    p.price 1000 руб
                    del 800 руб
              .showcase 
                .showcase-banner 
                  img.product-img.default(src="img/products/jacket-3.jpg", alt="" width="300")
                  img.product-img.hover(src="img/products/jacket-3.jpg", alt="" width="300")
                  p.showcase-bage 15%
                  .showcase-actions 
                    button.btn-action 
                      ion-icon(name="heart-outline")
                    button.btn-action 
                      ion-icon(name="eye-outline")
                    button.btn-action 
                      ion-icon(name="repeat-outline")
                    button.btn-action 
                      ion-icon(name="bag-add-outline")
                .showcase-content 
                  a.showcase-category(href="#") Куртки
                  a(href="#")
                    h3.showcase-title Зимняя куртка для мужчин
                  .showcase-rating 
                    ion-icon(name="star") 
                    ion-icon(name="star") 
                    ion-icon(name="star") 
                    ion-icon(name="star-outline") 
                    ion-icon(name="star-outline")
                  .price-box 
                    p.price 1000 руб
                    del 800 руб
    //-TESTIMONIALS, CTA & SERVICE
    div 
      .container 
        .testimonials-box 
          .testimonial 
            h2.title Наши отзывы
            .testimonial-card 
              img.testimonial-banner(src="img/testimonial-1.jpg", alt="" width="80" height="80")
              p.testimonial-name Диана
              p.testimonial-title Постоянный покупатель
              img.quotation-img(src="img/icons/quotes.svg", alt="" width="26")
              p.testimonial-desc Супур площадка для покупки вещей
            //-CTA
          .cta-container
            img.cta-banner(src="img/cta-banner.jpg", alt="")
            a.cta-content(href="#")
              p.discount 25% скидка
              h2.cta-title Летняя коллекция
              p.cta-text от 3000 рублей
                button.cta-btn Купить сейчас
          .service 
            h2.title Наши сервисы
            .service-container 
              a.service-item(href="#")
                .service-icon 
                  ion-icon(name="boat-outline")
                .service-content
                  h3.service-title Междугородняя доставка
                  p.service-desc при заказе от 1000 рублей
              a.service-item(href="#")
                .service-icon 
                  ion-icon(name="call-outline")
                .service-content
                  h3.service-title Online поддержка
                  p.service-desc с 8:00 до 23:00
              a.service-item(href="#")
                .service-icon 
                  ion-icon(name="arrow-undo-outline")
                .service-content
                  h3.service-title Возврат товара
                  p.service-desc Легкий и быстрый возврат товара
              a.service-item(href="#")
                .service-icon 
                  ion-icon(name="ticket-outline")
                .service-content
                  h3.service-title Кэшбэк от 30%
                  p.service-desc при заказе от 5000 рублей
