extends ../layout/main

block mainVariables
  - pageTitle = 'B-Shop - обувь, одежда, аксессуары';

//- MAIN
block mainContent
  main.main
    //- BANNER
    .banner 
      .container 
        .slider-container.has-scollbar 
          .slider-item 
            img.banner-img(src="img/banner-1.jpg", alt="")
            .banner-content 
              p.banner-subtitle Тренды
              h2.banner-title Распродажа женксой коллекции
              p.banner-text 200 рублей
              a.banner-btn(href="") Купить
          .slider-item 
            img.banner-img(src="img/banner-2.jpg", alt="")
            .banner-content 
              p.banner-subtitle Аксессуары
              h2.banner-title Очки
              p.banner-text 200 рублей
              a.banner-btn(href="") Купить
          .slider-item 
            img.banner-img(src="img/banner-3.jpg", alt="")
            .banner-content 
              p.banner-subtitle Ремни
              h2.banner-title Распродажа женкских ремней
              p.banner-text 200 рублей
              a.banner-btn(href="#") Купить
    //-CATEGORY
    .category 
      .container 
        .category-item-container.has-scrollbar 
          .category-item 
            .category-img-box
              img(src="img/icons/dress.svg", alt="" width="30")
            .category-content-box 
              .category-content-flex 
                h3.category-item-title Платья
                .category-item-amount (43)
              a.category-btn(href="#") Показать все
          .category-item 
            .category-img-box
              img(src="img/icons/jacket.svg", alt="" width="30")
            .category-content-box 
              .category-content-flex 
                h3.category-item-title Куртки
                .category-item-amount (56)
              a.category-btn(href="#") Показать все
          .category-item 
            .category-img-box
              img(src="img/icons/glasses.svg", alt="" width="30")
            .category-content-box 
              .category-content-flex 
                h3.category-item-title Аксессуары
                .category-item-amount (33)
              a.category-btn(href="#") Показать все
          .category-item 
            .category-img-box
              img(src="img/icons/shorts.svg", alt="" width="30")
            .category-content-box 
              .category-content-flex 
                h3.category-item-title Шорты
                .category-item-amount (25)
              a.category-btn(href="#") Показать все
          .category-item 
            .category-img-box
              img(src="img/icons/bag.svg", alt="" width="30")
            .category-content-box 
              .category-content-flex 
                h3.category-item-title Сумки
                .category-item-amount (123)
              a.category-btn(href="#") Показать все
          .category-item 
            .category-img-box
              img(src="img/icons/watch.svg", alt="" width="30")
            .category-content-box 
              .category-content-flex 
                h3.category-item-title Часы
                .category-item-amount (84)
              a.category-btn(href="#") Показать все
          .category-item 
            .category-img-box
              img(src="img/icons/hat.svg", alt="" width="30")
            .category-content-box 
              .category-content-flex 
                h3.category-item-title Шапки
                .category-item-amount (73)
              a.category-btn(href="#") Показать все
    //-PRODUCT
    .product-conntainer 
      .container  
        //-SIDEBAR
        .sidebar.has-scrollbar(data-mobile-menu)
          .sidebar-category 
            .sidebar-top 
              h2.sidebar-title Категории
              button.sidebar-close-btn(data-mobile-menu-close-btn)
              ion-icon(name="close-outline")
            ul.sidebar-menu-category-list 
              li.sidebar-menu-category
                button.sidebar-accordion-menu(data-accordion-btn)
                  .menu-title-flex 
                    img.menu-title-img(src="img/icons/dress.svg", alt="" width="20" height="20")
                    p.menu-title Одежда
                  div 
                    ion-icon(name="add-outline" class="add-icon") 
                    ion-icon(name="remove-outline" class="remove-icon") 
                ul.sidebar-submenu-category-list 
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Футболки
                      data(value="300" class="stock" title="Доступно") 300
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Шорты
                      data(value="300" class="stock" title="Доступно") 300
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Кофты
                      data(value="300" class="stock" title="Доступно") 300
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Платья
                      data(value="300" class="stock" title="Доступно") 300
              li.sidebar-menu-category
                button.sidebar-accordion-menu(data-accordion-btn)
                  .menu-title-flex 
                    img.menu-title-img(src="img/icons/dress.svg", alt="" width="20" height="20")
                    p.menu-title Одежда
                  div 
                    ion-icon(name="add-outline" class="add-icon") 
                    ion-icon(name="remove-outline" class="remove-icon") 
                ul.sidebar-submenu-category-list 
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Футболки
                      data(value="300" class="stock" title="Доступно") 300
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Шорты
                      data(value="300" class="stock" title="Доступно") 300
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Кофты
                      data(value="300" class="stock" title="Доступно") 300
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Платья
                      data(value="300" class="stock" title="Доступно") 300
              li.sidebar-menu-category
                button.sidebar-accordion-menu(data-accordion-btn)
                  .menu-title-flex 
                    img.menu-title-img(src="img/icons/dress.svg", alt="" width="20" height="20")
                    p.menu-title Одежда
                  div 
                    ion-icon(name="add-outline" class="add-icon") 
                    ion-icon(name="remove-outline" class="remove-icon") 
                ul.sidebar-submenu-category-list 
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Футболки
                      data(value="300" class="stock" title="Доступно") 300
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Шорты
                      data(value="300" class="stock" title="Доступно") 300
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Кофты
                      data(value="300" class="stock" title="Доступно") 300
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Платья
                      data(value="300" class="stock" title="Доступно") 300
              li.sidebar-menu-category
                button.sidebar-accordion-menu(data-accordion-btn)
                  .menu-title-flex 
                    img.menu-title-img(src="img/icons/dress.svg", alt="" width="20" height="20")
                    p.menu-title Одежда
                  div 
                    ion-icon(name="add-outline" class="add-icon") 
                    ion-icon(name="remove-outline" class="remove-icon") 
                ul.sidebar-submenu-category-list 
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Футболки
                      data(value="300" class="stock" title="Доступно") 300
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Шорты
                      data(value="300" class="stock" title="Доступно") 300
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Кофты
                      data(value="300" class="stock" title="Доступно") 300
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Платья
                      data(value="300" class="stock" title="Доступно") 300
              li.sidebar-menu-category
                button.sidebar-accordion-menu(data-accordion-btn)
                  .menu-title-flex 
                    img.menu-title-img(src="img/icons/dress.svg", alt="" width="20" height="20")
                    p.menu-title Одежда
                  div 
                    ion-icon(name="add-outline" class="add-icon") 
                    ion-icon(name="remove-outline" class="remove-icon") 
                ul.sidebar-submenu-category-list 
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Футболки
                      data(value="300" class="stock" title="Доступно") 300
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Шорты
                      data(value="300" class="stock" title="Доступно") 300
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Кофты
                      data(value="300" class="stock" title="Доступно") 300
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Платья
                      data(value="300" class="stock" title="Доступно") 300
              li.sidebar-menu-category
                button.sidebar-accordion-menu(data-accordion-btn)
                  .menu-title-flex 
                    img.menu-title-img(src="img/icons/dress.svg", alt="" width="20" height="20")
                    p.menu-title Одежда
                  div 
                    ion-icon(name="add-outline" class="add-icon") 
                    ion-icon(name="remove-outline" class="remove-icon") 
                ul.sidebar-submenu-category-list 
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Футболки
                      data(value="300" class="stock" title="Доступно") 300
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Шорты
                      data(value="300" class="stock" title="Доступно") 300
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Кофты
                      data(value="300" class="stock" title="Доступно") 300
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Платья
                      data(value="300" class="stock" title="Доступно") 300
              li.sidebar-menu-category
                button.sidebar-accordion-menu(data-accordion-btn)
                  .menu-title-flex 
                    img.menu-title-img(src="img/icons/dress.svg", alt="" width="20" height="20")
                    p.menu-title Одежда
                  div 
                    ion-icon(name="add-outline" class="add-icon") 
                    ion-icon(name="remove-outline" class="remove-icon") 
                ul.sidebar-submenu-category-list(data-accordion)
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Футболки
                      data(value="300" class="stock" title="Доступно") 300
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Шорты
                      data(value="300" class="stock" title="Доступно") 300
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Кофты
                      data(value="300" class="stock" title="Доступно") 300
                  li.sidebar-submenu-category 
                    a.sidebar-submenu-title(href="#") 
                      p.product-name Платья
                      data(value="300" class="stock" title="Доступно") 300
          .product-showcase 
            h3.showcase-heading Лучшие продажы
            .showcase-wrapper 
              .showcase-container 
                .showcase 
                  a.showcase-img-box(href="#") 
                    img.shocase-img(src="img/products/1.jpg", alt="" width="75" height="75")
                  .showcase-content 
                    a(href="#")
                      h4.showcase-title Детская одежда
                      .showcase-rating
                        ion-icon(name="star") 
                        ion-icon(name="star") 
                        ion-icon(name="star") 
                        ion-icon(name="star") 
                        ion-icon(name="star")
                      .price-box  
                        del 1000 руб.
                        p.price 800 руб.
                .showcase 
                  a.showcase-img-box(href="#") 
                    img.shocase-img(src="img/products/2.jpg", alt="" width="75" height="75")
                  .showcase-content 
                    a(href="#")
                      h4.showcase-title Детская одежда
                      .showcase-rating
                        ion-icon(name="star") 
                        ion-icon(name="star") 
                        ion-icon(name="star") 
                        ion-icon(name="star") 
                        ion-icon(name="star")
                      .price-box  
                        del 1000 руб.
                        p.price 800 руб.
                .showcase 
                  a.showcase-img-box(href="#") 
                    img.shocase-img(src="img/products/3.jpg", alt="" width="75" height="75")
                  .showcase-content 
                    a(href="#")
                      h4.showcase-title Детская одежда
                      .showcase-rating
                        ion-icon(name="star") 
                        ion-icon(name="star") 
                        ion-icon(name="star") 
                        ion-icon(name="star") 
                        ion-icon(name="star")
                      .price-box  
                        del 1000 руб.
                        p.price 800 руб.
                .showcase 
                  a.showcase-img-box(href="#") 
                    img.shocase-img(src="img/products/4.jpg", alt="" width="75" height="75")
                  .showcase-content 
                    a(href="#")
                      h4.showcase-title Детская одежда
                      .showcase-rating
                        ion-icon(name="star") 
                        ion-icon(name="star") 
                        ion-icon(name="star") 
                        ion-icon(name="star") 
                        ion-icon(name="star")
                      .price-box  
                        del 1000 руб.
                        p.price 800 руб.
        //-PRODUCT minimal
        .product-box
          .product-minimal
            .product-showcase 
              h2.title Новинки
              .showcase-wrapper.has-scrollbar
                .showcase-container 
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/clothes-1.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб. 
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/clothes-2.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб.
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/clothes-3.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб.
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/shirt-1.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб.
                .showcase-container 
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/clothes-1.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб. 
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/clothes-2.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб.
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/clothes-3.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб.
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/shirt-1.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб.
            .product-showcase 
              h2.title Новинки
              .showcase-wrapper.has-scrollbar
                .showcase-container 
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/clothes-1.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб. 
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/clothes-2.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб.
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/clothes-3.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб.
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/shirt-1.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб.
                .showcase-container 
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/clothes-1.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб. 
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/clothes-2.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб.
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/clothes-3.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб.
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/shirt-1.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб.
            .product-showcase 
              h2.title Новинки
              .showcase-wrapper.has-scrollbar
                .showcase-container 
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/clothes-1.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб. 
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/clothes-2.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб.
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/clothes-3.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб.
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/shirt-1.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб.
                .showcase-container 
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/clothes-1.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб. 
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/clothes-2.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб.
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/clothes-3.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб.
                  .showcase 
                    a.showcase-img-box(href="#")
                      img.showcase-img(src="img/products/shirt-1.jpg", alt="" width="70")
                      .showcase-content 
                        a(href="#")
                          h4.showcase-title Reebok 
                        a.showcase-category(href="#") Одежда
                        .price-box 
                          p.price 4000 руб.
                          del 2000 руб.