/**
* overlay
**/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: hsla(0, 0%, 0%, 0.5);
  opacity: 0;
  pointer-events: none;
  z-index: 15;
  transition: 0.5s ease;
  &.active {
    opacity: 1;
    pointer-events: all;

  }
}

/**
* MODAL
**/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: hsla(0, 0%, 0%, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 10;
  animation: popup 1s ease-in-out 5s forwards;
  
}

@keyframes popup {
  0% {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  100% {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

.modal.closed { display: none; }
.modal-close-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.newsletter-img {
  display: none;
}
.modal-content {
  position: relative;
  max-width: 350px;
  margin: 20px;
  background: $white;
  border-radius: $border-radius-md;
  overflow: hidden;
  z-index: 2;
  animation: scaleUp 0.5s ease-in-out 5s forwards;
}

@keyframes scaleUp {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.modal-close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: $salomon-pink;
  color: $white;
  font-size: 16px;
  padding: 5px;
  border-radius: $border-radius-sm;
  &:hover {
    opacity: 0.9;
  }
  ion-icon {
    --ionicon-stroke-width: 70px;
  }
}

.newsletter {
  padding: 50px 30px;
  text-align: center;
}

.newsletter-header { margin-bottom: 20px;}

.newsletter-title {
  color: $onyx;
  font-size: $fs-2;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 1.2;
}

.newsletter-desc {
  color: $sonic-silver;
  font-size: $fs-7;
  line-height: 1.6;
}

.email-field {
  font-size: $fs-7;
  padding: 8px 16px;
  border-radius: $border-radius-sm;
  border: 1px solid $cultured;
  margin-bottom: 16px;
}

.btn-newsletter {
  background: $eerie-black;
  color: $white;
  font-size: $fs-7;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: $border-radius-sm;
  margin: auto;
  transition: $transition;
  &:hover {
    background: $salomon-pink;
  }
}

/**
* HEADER
**/
.header-top,
.header-user-actions,
.desktop-navigation-menu {
  display: none;
}

.header-user-actions {
  @include xl-block {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .action-btn {
    @include xl-block {
      position: relative;
      font-size: 35px;
      color: $onyx;
      padding: 5px
    }
  }
  .count {
    @include xl-block {
      position: absolute;
      top: -2px;
      right: -3px;
      background: $bittersweet;
      color: $white;
      font-size: 12px;
      font-weight: 500;
      line-height: 1;
      padding: 2px 4px;
      border-radius: 20px;
    }
  }
}

.desktop-navigation-menu {
  @include xl-block {
    display: block;
  }
}

.desktop-menu-category-list {
  @include xl-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    .menu-category:not(:nth-child(2)) { position: relative; }
    .menu-category > .menu-title {
      position: relative;
      color: $onyx;
      font-size: $fs-7;
      font-weight: 600;
      text-transform: uppercase;
      padding: 15px 0;
      //transition: var(--transition-timing);
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: $salomon-pink;
        transform: scaleX(0);
        transform-origin: left;
        //transition: var(--transition-timing);
      }
      &:hover {
        color: $salomon-pink;
        &::after { transform: scaleX(1); }
      }
      
    }
  }
  
}

.header-top .container,
.header-main .container {
  @include sm-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header-main {
  padding: 20px 0;
  border-bottom: 1px solid $cultured;
  .container {
    @include xl-block {
      gap: 80px;
    }
  }
}

.header-logo {
  margin-bottom: 20px;
  @include sm-block {
    margin-bottom: 0;
  }
  img {
    margin: auto;
  }
}

.header-search-container {
  position: relative;
  @include sm-block {
    min-width: 300px;
  }
  @include xl-block {
    flex-grow: 1;
  }
  .search-field {
    font-size: $fs-7;
    color: $onyx;
    padding: 10px 15px;
    padding-right: 50px;
    border: 1px solid $cultured;
    border-radius: $border-radius-md;
  }
}

.header-top-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-field::-webkit-search-cancel-button {
  display: none;
}

.search-btn {
  background: $white;
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translate(-50%, -50%);
  color: $onyx;
  font-size: 18px;
  padding: 8px 15px;
  transition: color $transition;
  &:hover {
    color: $salomon-pink;
  }
}

.mobile-bottom-navigation {
  background: $white;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 500px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.25);
  z-index: 5;
  @include xl-block {
    display: none;
  }
  .action-btn {
    position: relative;
    font-size: 26px;
    color: $eerie-black;
    padding: 10px;
  }
  .count {
    background: $bittersweet;
    color: $white;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    padding: 2px 4px;
    border-radius: 20px;
  }
}

.mobile-navigation-menu {
  background: $white;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  max-width: 320px;
  height: 100vh;
  padding: 20px;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
  overflow-y: scroll;
  overscroll-behavior: contain;
  visibility: hidden;
  transition: 0.5s ease;
  z-index: 20;
  &.active {
    left: 0;
    visibility: visible;

  }
}

.menu-top {
  padding-bottom: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid $cultured;
  .menu-title {
    color: $salomon-pink;
    font-size: $fs-4;
    font-weight: 600;

  }
}

.menu-close-btn {
  color: $eerie-black;
  font-size: 22px;
  ion-icon {
    --ionicon-stroke-width: 50px; 
  }
}

.mobile-menu-category-list {
  margin-bottom: 30px;
}

.menu-category {
  .accordion-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
}

.mobile-menu-category-list {
  .menu-category {
    border-bottom: 1px solid $cultured; 
  }
  .menu-title {
    color: $onyx;
    font-size: $fs-6;
    font-weight: 500;
    padding: 12px 0;

  }
}

.accordion-menu > div {
  font-size: 14px;

}

.accordion-menu ion-icon {
  color: $onyx;
  --ionicon-stroke-width: 90px;

}
.accordion-menu.active {
  .add-icon {
    display: none;
  }
}
.accordion-menu .remove-icon {
  display: none;
}

.accordion-menu.active {
  .revome-icon {
    display: none;
  }
}
.accordion-menu .add-icon {
  display: block;
}

.menu-category {
  .submenu-category-list {
    margin-left: 10px;
  }
}

.submenu-title {
  padding: 6px 0;
  font-size: $fs-6;
  color: $sonic-silver;
  font-weight: 300;
  &:hover {
    color: $davys-gray; 
  }
}

.submenu-category-list {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: 0.5s ease-in-out;
  &.active {
    max-height: 148px;
    visibility: visible;
  }
}

.menu-bottom {
  .menu-category-list {
    margin-bottom: 20px;
  }
  .menu-category {
    border-bottom: none;
  }
  .menu-title {
    font-size: $fs-6;
    font-weight: 500;
    color: $eerie-black;
    padding: 12px 0;
  }
}

.accordion-menu.active {
  .caret-back {
    transform: rotate(-0.25turn);
  }
}

.menu-bottom {
  .submenu-category-list {
    border: 1px solid $cultured;
    border-radius: $border-radius-md;
    padding: 0 15px;
    margin-left: 0;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.05);

  }
  .submenu-category {
    &:not(:last-child) {
      border-bottom: 1px solid $cultured;
    }
  }
}

.menu-social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  .social-link {
    background: $cultured;
    color: $eerie-black;
    font-size: 20px;
    padding: 10px;
    border-radius: $border-radius-md;
  }
}

.desktop-menu-category-list { 
  @include xl-block {
    gap: 45px;
  }
 }

 .dropdown-panel {
    @include xl-block {
      position: absolute;
      top: 100%;
      left: 0;
      background: $white;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;
      padding: 30px;
      border: 1px solid $cultured;
      box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.1);
      border-radius: $border-radius-md;
      transform: translateY(50px);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      //transition: var(--transition-timing);
      z-index: 5;
    }
  }


  .desktop-menu-category-list .menu-category:hover > .dropdown-panel {
    @include xl-block {
      transform: translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    }
  }

  .dropdown-panel-list .menu-title a {
    @include xl-block {
      color: $onyx;
      font-size: $fs-7;
      font-weight: 600;
      padding-bottom: 10px;
      border-bottom: 1px solid $cultured;
      margin-bottom: 10px;
    }
  }

  .panel-list-item a {
    @include xl-block {
      color: $sonic-silver;
      font-size: $fs-7;
      text-transform: capitalize;
      //transition: var(--transition-timing);
    }
    &:hover {
      color: $salomon-pink;
    }
  }

  .panel-list-item {
    &:not(:last-child) a { 
      @include xl-block {
        padding: 4px 0;
      }
     }
     &:last-child {
      @include xl-block {
        margin-top: 20px;
      }
     }
     img {
      @include xl-block {
        width: 100%;
        height: auto;
        border-radius: $border-radius-sm;
      }
     }
  }

  .dropdown-list {
    @include xl-block {
      position: absolute;
      top: 100%;
      left: 0;
      width: 200px;
      background: $white;
      padding: 20px 0;
      border-radius: $border-radius-md;
      border: 1px solid $cultured;
      box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.1);
      transform: translateY(50px);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      //transition: var(--transition-timing);
      z-index: 5;
    }
  }

  .desktop-menu-category-list .menu-category:hover > .dropdown-list {
    @include xl-block {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }

  .dropdown-list .dropdown-item a {
    @include xl-block {
      color: $sonic-silver;
      font-size: $fs-7;
      text-transform: capitalize;
      padding: 4px 20px;
      //transition: var(--transition-timing);
    }
    &:hover {
      color: $salomon-pink;
    }
  }



