// Тема по умолчанию
html,
body{
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  overscroll-behavior: contain;
}

body {
  min-height: 100vh;
  min-width: 320px;
  font-family: $default-font;
  text-rendering: optimizeSpeed;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  background: $white;
}

.container {
  @include wrapper();
}

/**
* Scroll bar style
**/
body::-webkit-scrollbar { width: 15px; }
body::-webkit-scrollbar-track { 
  background: $white; 
  border-left: 1px solid $cultured;
}

body::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 80%);
  border: 3px solid $white;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 70%);
}